@using BreakOutGame.Models.Domain
@model BreakOutGame.Models.Domain.BoBSession
@{
    ViewData["Title"] = "SessionDetailScreen";
}
<h2 class="sessieDetailFix">Detail @Model.name</h2>
<div class="row">
    <div class="col-md-5 actiesFix">
        <h3>Session actions</h3>
        <div>
            <a asp-action="StartSession" asp-route-id="@Model.Id" class="btn btn-primary btn-lg zelfde">Start Session</a>
        </div>
        <a asp-controller="BoBGroup" asp-action="BlockAllGroups" asp-route-id="" class="btn btn-danger btn-lg zelfde">Blokkeer alle groepen</a>
        <a asp-controller="BoBGroup"     asp-action="DeblockAllGroups" asp-route-id="" class="btn btn-success btn-lg zelfde">Deblokkeer alle groepen</a>
    </div>
    <div class="col-md-7 groupsFix">
        <h3>Groups</h3>
        <div>
            <table>
                <tr>
                    <th>Groupname</th>
                    <th>Members</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                @foreach (var group in Model.Groups)
                {
                    @*@(String isBlocked = group.Status == GroupStatus.Blocked ? "Block" : "Deblock";)*@
                    <tr>
                        <td>@group.GroupName</td>
                        <td>
                            <ul>
                                @foreach (var student in group.Students)
                                {
                                    <li>@student.Student.FirstName @student.Student.LastName</li>
                                }
                            </ul>
                        </td>
                        <td>
                            Status?
                        </td>
                        <td>
                            @*//beter om te werken met een toggle?*@
                            <a asp-controller="BoBGroup" asp-action="BlockGroup" asp-route-groupid="@group.Id" class="btn btn-primary btn-lg wGroupsB">Block group</a>
                            <a asp-controller="BoBGroup" asp-action="DeblockGroup" asp-route-groupid="@group.Id" class="btn btn-primary btn-lg">Deblock group</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>