@using BreakOutGame.Models.Domain
@model IEnumerable<BreakOutGame.Models.Domain.BoBGroup>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<p>@TempData["groupchosen"]</p>
<div class="grouplist">
    @foreach (var group in Model)
    {   
        <div id="@("groupparent" + "_" + group.GroupName.Replace(" ", "_"))" class="col-xs-12 col-sm-6 col-md-6 groupparent">
            <div class="overlay"></div>
            <div class="group @(group.Status == GroupStatus.NotSelected ? "" : "groupselected")" id="@(group.GroupName.Replace(" ", "_"))">

                <p>@group.GroupName</p>
                <hr/>
                <img alt="De groepsafbeelding" src="/images/group.png" class="groupimg" />
                <p>Groepsleden</p>
                <ul class="groupmemberlist">
                    @foreach (var groupStudent in group.Students)
                    {

                        <li>@groupStudent.Student.FirstName @groupStudent.Student.LastName</li>
                    }
                </ul>

                <a asp-action="Index">Test</a>
                <input class="nonclick"type="text"/>
            </div>
            @if (group.Status == GroupStatus.NotSelected)
            {
                <div class="confirmation group sideDiv" hidden id="@((group.GroupName.Replace(" ", "_")) + "hid")">
                    <p>Ben je zeker dat je <strong>@group.GroupName</strong> wilt kiezen als je actieve groep?
                    </p>
                    <p>Groepsleden</p>
                    <ul class="groupmemberlist">
                        @foreach (var groupStudent in group.Students)
                        {

                            <li>@groupStudent.Student.FirstName @groupStudent.Student.LastName</li>
                        }
                    </ul>
                    <a class="btn btn-primary nonclick" asp-action="WaitScreen" asp-route-id="@group.Id">Kies deze groep</a>
                    <a class="btn btn-danger">Nee ik ben toch niet zeker</a>
                </div>
            }
        </div>

    }
</div>
@section Scripts
{
    <script type="text/javascript" src="/js/groupoverview.js"></script>

}